
body {
    height: 100vh;
    margin: 50px;
    display: flex;
    gap: 20px;
}

.box{
    width: 150px;
    height: 150px;
    background-color: brown;
    transition: 1s;
    /* transition-property: transform;
    transition-duration: 3s;
    transition-timing-function: ease; */
}

.box:hover{
    width: 180px;
    height: 180px;
    border: 1px solid black;
    transform: rotate(150deg);
}